# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.The_Dune_Project.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\StevenPC\Desktop\The_Dune_Project\.idea\.idea.The_Dune_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
